@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Account | Forgot Password";
    Layout = "_EmptyLayout";
}
<br />
<br />
<br />
<br />
<br />
<div class="container-xxl loginBox">
    @if ((bool)ViewData["isEmailSent"])
    {
        <div style="background:green;padding:10px;text-align:center;color:white">
            Email Sent Successfully, Please check your Inbox !
        </div>
    }
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <img src="~/images/logo.jpg" style="width:75px;border-radius:40px" />
                            <span class=" demo text-body fw-bolder">Nowshera Fitness Hall</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2 mt-4">Forgot Password? 🔒</h4>
                    <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
                    <form id="formAuthentication" class="mb-3" asp-controller="Account" asp-action="ForgotPassword">
                        <div class="text-red" asp-validation-summary="All"></div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control" asp-for="Email" placeholder="Enter your email"
                                autofocus="">
                        </div>
                        <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
                    </form>
                    <div class="text-center">
                        <a asp-controller="Account" asp-action="Login">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Back to login
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>