@model EquipmentViewModel
@{
    ViewBag.Title = "Admin | Available Equipments";
    ViewBag.EquipmentDetailsActive = "active open";
    ViewBag.AvailableEquipmentsActive = "active";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <form asp-controller="Equipment" asp-action="EditEquipmentDetails" method="POST" enctype="multipart/form-data">
        <div class="card mb-4">
            <h5 class="card-header">Equipment Details</h5>
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">

                    @if (!string.IsNullOrEmpty(Model.PhotoPath))
                    {
                        <img src="~/images/equipments/@Model.PhotoPath" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedImg">
                    }
                    else
                    {
                        <div>
                            <img id="uploadedImg" class="d-block rounded" height="100" width="100" style="background-color:grey">
                            <span id="noImgText">No Img Selected</span>
                        </div>

                    }
                    <div class="button-wrapper">
                        <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input asp-for="Photo" id="upload" class="account-file-input" onchange="uploadImage(event)" hidden="" accept="image/png, image/jpeg">
                        </label>


                        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 2MB</p>
                    </div>
                </div>
            </div>
            <hr class="my-0">
            <div class="card-body">

                <div asp-validation-summary="All" class="text-red"></div>
                <div class="row">
                    <input asp-for="ID" hidden />
                    <input asp-for="PhotoPath" hidden />
                    <div class="mb-3 col-md-6">
                        <label asp-for="Name" class="form-label"></label>
                        <input class="form-control" asp-for="Name"  autofocus="">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="Description" class="form-label"></label>
                        <input class="form-control" asp-for="Description" autofocus="">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="CreatedDate" class="form-label"></label>
                        <input class="form-control" asp-for="CreatedDate" disabled autofocus="">
                        <input hidden asp-for="CreatedDate" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="LastUpdatedDate" class="form-label"></label>
                        <input class="form-control" asp-for="LastUpdatedDate" disabled autofocus="">
                    </div>



                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Save changes</button>
                </div>

            </div>
            <!-- /Account -->
        </div>
    </form>
    </div>
    @section scripts{
        <script>
            function uploadImage(event) {
                var imgLocation = document.getElementById("uploadedImg")
                imgLocation.src = URL.createObjectURL(event.target.files[0]);
                document.getElementById("noImgText").style.display = "none"
            }
            var toast = document.getElementById("toaster")
            setTimeout(() => {
                toast.classList.replace("show", "hide")
            }, 3000)
        </script>
    }
