@model EquipmentModel
@{
    ViewBag.Title = "Admin | Equipment Details";
    ViewBag.EquipmentDetailsActive = "active open";
    ViewBag.AvailableEquipmentsActive = "active";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Member Details</h5>
            <small class="text-muted float-end">Default label</small>
        </div>
        <div class="card-body">
            <div class="row g-0">
                <div class="col-md-4">
                    @if (!string.IsNullOrEmpty(Model.PhotoPath))
                    {
                        <img class="card-img card-img-left" src="~/images/equipments/@Model.PhotoPath" alt="Card image">
                    }
                    else
                    {
                        <img class="card-img card-img-left" src="~/assets/img/avatars/5.png" alt="Card image">
                    }

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Name</h5>
                        <p class="card-text">
                            <b>Description:</b>&nbsp; @Model.Description <br /> <br />
                            <b>Created Date:</b>&nbsp; @Model.CreatedDate <br /> <br />
                            <b>Last Updated Date:</b>&nbsp; @Model.LastUpdatedDate <br /> <br />
                        </p>
 
                    </div>
                </div>
            </div>

            <a asp-action="AvailableEquipments" asp-controller="Equipment" type="submit" class="btn btn-primary">Back</a>
        </div>
    </div>





</div>