
@{
    ViewBag.Title = "Nowshera Fitness Zone";
}
<header class="header">
    <div class="container flex">
        <div class="text">
            <h1 class="mb">
                Complete Daily <br />
                <span>Workout</span> At Our Fitness Center
            </h1>

            <a asp-controller="Account" asp-action="Login" class="btn mt">Get Register Now</a>
        </div>

        <div class="visual">
            <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/banner-img.png"
                 alt="" />
        </div>
    </div>
</header>
    <div class="section" id="why-us">
        <div class="container flex">
            <div class="text">
                <h2 class="primary mb">Why Choose Us?</h2>
                <h3 class="secondary mb">Consulatation with Expert.</h3>
                <p class="tertiary">
                    Many fitness systems are developed by experts in the field, such as fitness trainers, nutritionists, or medical professionals. Choosing a system with credible and experienced guidance can ensure that you receive accurate and safe advice, and this is the one to work with.
                </p>

            <h3 class="secondary mb">Customization: </h3>
                <p class="tertiary">
                A good fitness system should be adaptable to your individual needs, goals, and fitness level. It should offer flexibility in terms of workout plans, exercises, and nutrition recommendations.
                </p>
            </div>
            <div class="visual">
                <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/why-us.png"
                     alt="" />
            </div>
        </div>
    </div>

    <div class="section" id="explore">
        <div class="container flex">
            <div class="visual">
                <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/explore.jpg"
                     alt="" />
            </div>
            <div class="text">
                <h2 class="primary mb">
                    Explore Our Fitness <br />
                    Studio
                </h2>

            <a href="https://www.top-rated.online/cities/Amangarh/place/p/11083844/fitness+zone+gym+nowshera" target="_blank" class="btn mt">Get Started Now</a>
            </div>
        </div>
    </div>

    <div class="section" id="trainer">
        <h2 class="primary mb">Our Professional Trainers</h2>
        <div class="container flex">
            <div class="trainer">
                <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/trainer1.jpg"
                     alt="" />
                <h3 class="secondary mb">Hasham Saleem</h3>

                <a href="#" class="btn-2">
                    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
                </a>
            </div>

            <div class="trainer">
                <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/trainer2.jpg"
                     alt="" />
                <h3 class="secondary mb">Hamas Khan</h3>

                <a href="#" class="btn-2">
                    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
                </a>
            </div>

            <div class="trainer">
                <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/trainer3.jpg"
                     alt="" />
                <h3 class="secondary mb">Alexa Smith</h3>

                <a href="#" class="btn-2">
                    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>

    <div class="section" id="testimonial">
        <div class="container flex">
            <div class="text">
                <h2 class="primary">
                    That's What Our Super <br />
                    Client Says
                </h2>

                <br />
                <br />
                <br />

                <div class="client">
                    <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/client1.jpg"
                         alt="" />
                    <h2 class="secondary">Exelent Training</h2>
                    <p class="tertiary">
                    I have been using the Nowshera Fitness System for the past six months, and I can't believe the incredible transformation I've experienced. This fitness system has truly changed my life in more ways than one.

                    When I started, I was feeling out of shape, low on energy, and struggling to find a workout routine that I could stick to. That's when I stumbled upon the Nowshera Fitness System, and I'm so glad I did.

                    What I love most about this system is its versatility. It's not a one-size-fits-all approach. The workouts are tailored to my fitness level and goals, and they never get boring. There's such a wide variety of exercises that I actually look forward to my workouts now, which is something I never thought I'd say!

                    The nutrition guidance has been a game-changer for me as well. The system doesn't promote extreme diets or restrictions. Instead, it focuses on balanced, sustainable eating habits. The recipes and meal plans are easy to follow, and they've helped me develop a healthier relationship with food.

                    But beyond the physical changes, this fitness system has given me a new level of confidence. I've lost weight, gained strength, and my overall well-being has improved significantly. I've also connected with a supportive community of fellow users through the system's online forums. The sense of camaraderie and encouragement is unlike anything I've experienced before.

                    The progress tracking features have been essential in keeping me motivated. Seeing the numbers on the scale change and noticing improvements in my fitness performance has kept me committed to the program.

                    I can't thank the Nowshera Fitness System enough for what it's done for me. I've not only transformed my body but also my mindset and lifestyle. This isn't just a temporary fix; it's a sustainable way of living that I plan to continue for years to come.

                    If you're looking for a fitness system that is effective, supportive, and life-changing, I wholeheartedly recommend giving the Nowshera Fitness System a try. It's been the best investment I've made in myself.
                    </p>
                </div>
            </div>
            <div class="visual">
                <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/testimonial.png"
                     alt="" />
            </div>
        </div>
    </div>

    <div class="section" id="discount">
        <div class="container flex">
            <div class="visual">
                <img src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/discount.png"
                     alt="" />
            </div>
            <div class="text">
                <h2 class="primary mb">
                    Fitness Classes This Summer, Pay Now And Get 25% Discount
                </h2>

                <div style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.3067426725074!2d71.97522037560151!3d34.01033647317273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ded35c251b6e4d%3A0x7eb6900cea8e0c09!2sfitness%20zone%20gym%20nowshera!5e0!3m2!1sen!2s!4v1693119931719!5m2!1sen!2s" width="600" height="450" style="border-radius:5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
